*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #D3C1B3;
    font-family: Arial, Helvetica, sans-serif;

}

.container1{
    display: flex;
    height: 70vh;
    width: 100vw;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
}

.item1{
    height: 50vh;
    width: 55vw;
}

.item2{
    height: 65vh;
    width: 40vw;
    background-color: peachpuff;
    background-image: url(img.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #AD7054;
}

.btn1{
    background-color: black;
    color:#D3C1B3;
    height: 6vh;
    width: 9vw;
    border-radius: 2vh;

}

p{
    font-size: 15px;
}

.container2{
    height: 30vh;
    box-sizing: border-box;
    margin-left: 2vh;
}

.btn2{
    background-color: #C8D813;
    color:#FFFFE1;
    height: 6vh;
    width: 9vw;
    border-radius: 2vh;
    position: absolute;
    left:46vw;
    bottom:0vh;

}
